body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

canvas {
  background: black;
  margin-top: 15px;
  border-radius: 10px;
}

.progress-bar {
  width: 80%;
  height: 10px;
  background: #333;
  margin: 10px auto;
  border-radius: 5px;
}

#progress {
  height: 100%;
  width: 0%;
  background: lime;
}
