body {
  background: linear-gradient(#020024, #090979, #000);
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.auth-box {
  width: 300px;
  margin: 120px auto;
  background: #0b132b;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

.top-bar {
  background: #0b132b;
  padding: 15px;
  font-size: 18px;
}

.game-container {
  margin-top: 40px;
}

canvas {
  background: black;
  border-radius: 12px;
}

.progress {
  width: 260px;
  height: 10px;
  background: #333;
  margin: 15px auto;
  border-radius: 5px;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: lime;
  border-radius: 5px;
}

.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

.popup-box {
  background: #111;
  padding: 20px;
  width: 260px;
  margin: 150px auto;
  border-radius: 10px;
}
